<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        
                        <div class="col-6">
                            <div id="codigoQR"  style="margin-top: 100px; margin-left : 50px ">

                            </div>
                        </div>
                        <div class="col-6">
                            <img src="" alt=""  style="width: 200px; height: 220px; margin-left : 50px " id="fotoPerfil" >
                            <div class="mt-3" >
                                <h5 class="text-center" > {{datos.nombre}}  {{datos.apellido}} </h5>
                            <h6>Cedula : {{datos.cedula}} </h6>
                            <h6>Departamento : {{datos.departamento}} </h6>
                            <h6>Cargo : {{datos.cargo}} </h6>
                            <h6>Fecha de inicio : {{datos.fecha_ingreso}} </h6>
                            </div>
                            <input type="hidden" id="imagen" value="{{datos.fotoPerfil}}" >
                            <input type="hidden" value="{{datos.codigo}}" id="QR" >
                        </div>
              
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/jquery.min.js"></script>
<script src="/js/qrcode.js"></script>

<script>
    var miCodigoQR = new QRCode("codigoQR");
$(document).ready(function(){
    let qr =  $("#QR").val();
    miCodigoQR.makeCode(qr);
});


let img = document.getElementById("imagen").value;
let fotoCarnet = document.getElementById("fotoPerfil");
let str = img.slice(40);

fotoCarnet.setAttribute("src", str);

console.log(str);



</script>