<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto ">
            <div class="card">
                <div class="card-header">
                    <h4>Usuarios de sistemas</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <th>cedula</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Nivel</th>
                            <th>Estatus</th>
                        </thead>
                        <tbody>
                            {{#each  resultados }}
                                <tr>
                                    <td>{{cedula}}</td>
                                    <td>{{nombre}}</td>
                                    <td>{{apellido}}</td>
                                    <td>{{nivel}}</td>
                                    <td>{{status}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>