<div class="container">
    <div class="row">
        <div class="col-md-11 mx-auto ">
            <div class="card">
                <div class="card-header">
                    <h4>Historial de asistencias</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <th>cedula</th>
                            <th>Nombre y apellido</th>
                            <th>Cargo</th>
                            <th>Entrada</th>
                            <th>Salida</th>
                        </thead>
                        <tbody>
                            {{#each  resultados }}
                                <tr>
                                    <td>{{cedula}}</td>
                                    <td>{{nombre_apellido}}</td>
                                    <td>{{cargo}}</td>
                                    <td>{{hora_entrada}}</td>
                                    <td>{{hora_salida}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>